HOW_TO_MIGRATE
TODO
*.py[cod]
__pycache__/
node_modules/
ideas/
Workspace
*.swp
*.db
instance/*
__pycache/*
migrations/*
static/fontawesome-free-5.14.0-web
static/user_data/*
static/web.kra

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
