/* Toggle Styles */
body { background-color: #000!important;}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}
ol { display: inline-block;border: 1px solid #23aaff;
text-align: justify; text-justify: inter-word; }
.dark ul { margin: 0;padding:0; list-style-type: none; color: white;}
.dark ul li { list-style-type: none; color: white;}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    background: #000;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 350px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}


#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


pre{
    font-size: 18px!important;
    font-family: 'sans-serif'!important;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    /*background: rgba(255,255,255,0.9);*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li .active {
    text-decoration: none;
    color: #f9f9f9;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #000;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 350px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 350px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.webs-catalog {
  padding: 15px;
  border-radius: 5px;
  display: grid;
  /* 
    El auto-fit estira el elemento a la resolución del monitor,
    el auto-fill al igual que el auto-fit hace que entre más elementos en la misma fila pero no los estira
  */
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 4px;
}
.webs-catalog > div {
    border: 2px solid #eee;
    color: black;
}
.webs-catalog > div:hover {
    border: 2px solid #999;
    color: black;
}

#navbar .dropdown .btn:hover {background: red; color:#000!important;}
#navbar .dropdown .btn:active {background: red; color:#000!important;}
#navbar .dropdown .btn:focus {background: red; color:#000!important;}
.dropdown-menu .dropdown-item {display: inline-block;  width: 100%;}
.dropdown-menu .dropdown-item:hover { background: red; color: #000!important; display: inline-block;  width: 100%;}



/* Search button */
.btn-cyan-dark { background: black; color: white; border: 1px solid white!important;} 
.btn-cyan-dark:hover {background: lightblue; color:#000!important;}
.btn-cyan-dark:active {background: lightblue; color:#000!important;}
.btn-cyan-dark:focus {background: lightblue; color:#000!important;}

/* Esta técnica es buenisima para cambiar el theme */
 { background: #000!important; color: red;}
input { background-color: #000!important; color: white!important; }
input:focus { background-color: red!important; color: black!important; }
select { background-color: #000!important; color: white!important; }
textarea { background-color: #000!important; color: white!important; }
#page-content-wrapper { background-color: #000!important; color: white; }
.card-body { background-color: #000!important; color: white!important; }
#navbar { background-color: #000!important; color: white!important; }
#navbar .nav-item a:hover { background-color: red; color: #f1f1f1!important; }
#navbar .dropdown {list-style: none; background-color: black; display: inline-block; }
#navbar .dropdown .nav-link {color:#fff; text-decoration: none;}
#navbar .dropdown .dropdown-menu {color: #fff; background-color: black; text-decoration: none; border: 1px solid red;}
#navbar .dropdown .dropdown-menu .dropdown-divider{ border-color: red; }
#navbar .dropdown .dropdown-menu a{color: #fff; background-color: black; text-decoration: none;}
#navbar .dropdown .btn {background: black; color:#fff;}
#navbar .dropdown .btn:hover {background: red; color:#f1f1f1!important;}
#navbar .dropdown .btn:active {background: red; color:#f1f1f1!important;}
#navbar .dropdown .btn:focus {background: red; color:#f1f1f1!important;}
#navbar .dropdown-menu .dropdown-item {display: inline-block;  width: 100%;}
#navbar .dropdown-menu .dropdown-item:hover { background: red; color: #f1f1f1!important; display: inline-block;  width: 100%;}
