@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
body { margin-top: 70px!important; font-family: 'Source Sans Pro', sans-serif!important;}
.webs-catalog {
  display: grid;
  /* 
    El auto-fit estira el elemento a la resolución del monitor,
    el auto-fill al igual que el auto-fit hace que entre más elementos en la misma fila pero no los estira
  */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 380px;
}
a { color: #c8c8c8!important; }
a:hover { color: white!important; }
.webs-catalog > div {
}
.webs-catalog .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list { overflow: hidden; transition: all 0.1s; }
.list:hover { transform: scale(1.05); z-index: 1; }
.webs-catalog .card-img-overlay{
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.98),
      rgba(0, 0, 0, 0)
    );
}

.title {
  text-transform: uppercase;
  margin: 0;
	overflow: hidden;
	color: white!important;
	text-shadow: 0 1px 0 black;
}
.card { overflow: auto; }
.misc:hover {  border-left: 5px solid grey; }
.webs-catalog .card-img-overlay{
}
.webs-catalog .card-img-overlay:hover{
}

.form-control{
	background-color: transparent!important;
	color: white!important;
}

.fixed {
  position: fixed;
  top:1500px;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 234px;
	z-index: 1;
  width: 100%;
}


.webs-catalog > div:hover {
}
.span a { color: white; }

* {box-sizing: border-box;}

.section {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.paragraph {
  color: #555;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
}

.title {
  font-size: 24px;
  color: #222;
  line-height: 24px;
}

.popup {
	display: none;
}

.parent:hover .popup {
	display: block;
}
.post-image{
  height:147px;
}
.post-image:hover{
  height:250px;
}
