body {}
.webs-catalog {
  display: grid;
  /* 
    El auto-fit estira el elemento a la resolución del monitor,
    el auto-fill al igual que el auto-fit hace que entre más elementos en la misma fila pero no los estira
  */
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 5px;
  grid-auto-rows: 600px;
}
.webs-catalog > div {
}
.webs-catalog .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-control{
    background-color:  #000!important;
    color: white!important;
    border: 0px!important;
}

.webs-catalog .card-img-overlay{
  background-color: rgba(0,0,0,0.85);
}
.webs-catalog .card-img-overlay:hover{
  background-color: rgba(0,0,0,0.65);
}


.webs-catalog > div:hover {
}
.span a { color: white; }

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.section {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.paragraph {
  color: #555;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
}

.title {
  font-size: 24px;
  color: #222;
  line-height: 24px;
}

.popup {
	display: none;
}

.parent:hover .popup {
	display: block;
}


