{% extends 'base.html' %}

<h1>{% block title %}Acerca de nosotros{% endblock %}</h1>

{% block content %}
  <div class="container-fluid">
    <h1>Acerca de Nosotros</h1>
    <div style="overflow: hidden;">
      <img width=400 style="float: right; border-radius: 30px; " src="{{ url_for ('static', filename='images/guy_at_computer.jpeg') }}"/>
      <p>Somos un equipo de estudiantes estudiantes de Ciencias de la Computación y de
      la carrera de administración de empresas con años de experiencia en el ambiente de sistemas.</p>
      <h6 style="">Frases que nos identifican</h6>
      <blockquote class="blockquote text-center">
        <p class="mb-0">"Es una mala idea pero es mi idea"</span></p>
        <footer class="blockquote-footer">un empleado de <cite title="Source Title">FlashLightning</cite>.</footer>
      </blockquote>
      <blockquote class="blockquote text-center">
        <p class="mb-0">"Todo el mundo es gangster hasta que la vida pierde sentido"</span></p>
        <footer class="blockquote-footer">un empleado de <cite title="Source Title">FlashLightning</cite>.</footer>
      </blockquote>
      <blockquote class="blockquote text-center">
        <p class="mb-0">"Embrace the autism"</span></p>
        <footer class="blockquote-footer">un empleado de <cite title="Source Title">FlashLightning</cite>.</footer>
      </blockquote>
      <blockquote class="blockquote text-center">
        <p class="mb-0">"He fried his brain"</span></p>
        <footer class="blockquote-footer">un empleado de <cite title="Source Title">FlashLightning</cite>.</footer>
      </blockquote>
      <blockquote class="blockquote text-center">
        <p class="mb-0">"This is big bullshit"</span></p>
        <footer class="blockquote-footer">un empleado de <cite title="Source Title">FlashLightning</cite>.</footer>
      </blockquote>
      <blockquote class="blockquote text-center">
        <p class="mb-0">"The FlashLightning Experience"</span></p>
        <footer class="blockquote-footer">un empleado de <cite title="Source Title">FlashLightning</cite>.</footer>
      </blockquote>

    </div>
  </div>
{% endblock %}
