<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Anonymous image board">
		<meta name="author" content="FlashLightning">
		<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

		<title>{% block title %} {% endblock %} - FlashLightning</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/thunder.ico') }}" type="image/x-icon">
		<link rel="stylesheet" href="{{url_for('static', filename='css/style_dark.css')}}"/>
		<meta name="color-scheme" content="dark light">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Creo que nunca usé esto asegurarse para luego borrarlo -->
	{% block head %}{% endblock %}
  {% from "_formhelpers.html" import render_field %}
	</head>

	<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">FlashLightning</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if nbar == 'directory' %}active{% endif %}">
            <a class="nav-link" href="/">Directorio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link {% if nbar == 'categories' %}active{% endif %}" href="/categories">Categorías</a>
          </li>
        </ul>
				<ul class="navbar-nav navbar-center">
					<form class="form-inline my-2 my-lg-0" action="/search">
						<input class="form-control mr-sm-2" name="q" type="search" placeholder="Buscar por tags" aria-label="Search">
						<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
					</form>
				</ul>
						<ul class="navbar-nav navbar-right ml-auto">
              <li class="nav-item">
                <a class="nav-link btn" role="button" href="/upload">
                  <i class="fas fa-plus"></i> Crear
                </a>
              </li>
							<li class="nav-item dropdown {% if nbar in ('action1','action2','action3') %}active{% endif %}">
									<a class="nav-link dropdown-toggle btn " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if current_user.is_authenticated %}
                      <i class="fas fa-user"></i>
                      {{ current_user.username }}
                    {% else %}
                      <i class="fas fa-user-secret"></i>
                      Anon
                    {% endif %}
									</a>
									<div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">
                    {% if current_user.is_authenticated %}
											<a class="dropdown-item" href="/settings/profile"><span class="fas fa-user"></span> Perfil</a>
											<a class="dropdown-item" href="/logout"><span class="fas fa-sign-out-alt"></span> Salir</a>
                    {% else %}
											<a class="dropdown-item" href="/login"><span class="fas fa-user"></span> Ingreso</a>
											<a class="dropdown-item" href="/register"><span class="fas fa-pencil-alt"></span> Registro</a>
                    {% endif %}
									</div>
							</li>
              <li class="nav-item dropdown {% if nbar in ('action1','action2','action3') %}active{% endif %}">
                  <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-question"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/aboutus">Nosotros</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/rules">Reglas</a>
                      <a class="dropdown-item" href="/contact">Contacto</a>
                      <a class="dropdown-item" href="/faq">FAQ</a>
                      <a class="dropdown-item" href="/helpme">Ayudar</a>
                  </div>
              </li>
						</ul>
      </div>
    </nav>

		<div class="container-fluid jumbotron-fluid" style="margin-top: 40px;">
			<div class="jumbotron m-auto">
				{% block content %} {% endblock %}
			</div>
		</div>


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	</body>
</html>

