{% extends 'base.html' %} 
{% block title%}Directorio{%endblock%}

{% block content %}
  <div class="webs-catalog">
    {% for post in posts %}
    <div class="card list" style="overflow: hidden;">
        <!-- Chequear la extensión primero antes de mostrar img -->
      {% for img in post.files %}
        {% if img.extension in ('jpg', 'gif', 'jpeg', 'png') %}
            <img class="card-img" src="{{ url_for ('static', filename='user_data/images/')}}{{img.file}}"/>
        {% elif img.extension in ('webm', 'mp4') %}
            <!-- esto es solucionable porque no vamos a usar el video en sí si no una imágen generada del video -->
            <video class="card-img" src="{{ url_for ('static', filename='user_data/images/')}}{{img.file}}"/>
              Your browser does not support the video tag.
            </video>
        {% endif %}
      {% endfor %}
      <a href="/view/{{post.id}}" >
        <div class="card-img-overlay "> 
          <h4 class="card-title title">{{post.subject[:85]}}</h4>
          <span class="card-subtitle mb-2 text-muted">{{post.views}} vistas |</span>
          <span class="card-subtitle mb-2 text-muted">{{post.total_comments}} comentario(s)</span>
          <p class="card-text ">{{post.desc[:100] | replace('\n', '<br/>') | safe}}</p>
        </div>
      </a>
    </div>
    {% else %}
        No hay entradas.
    {% endfor %}
  </div>
{% endblock %}
