{% extends 'base.html' %}
<h1>{% block title %}Inicio{% endblock %}</h1>


{% block content %}
      <div class="container-fluid">
        <div class="container">
          <h3>{{category_name}} <a style="float: right;" class="nav-link" href="/upload"><i class="fas fa-plus"></i></a></h3>
          <hr/>

          {% for category in posts %}
            <a href="/view/{{category.id}}">{{category.subject}}</a><br/>
          {% else %}
            <h3>Nada por acá<h3>
          {% endfor %}
        </div>
{% endblock %}
