{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
<h1>{% block title %}Crear una nueva publicación{% endblock %}</h1>

{% block content %}
  <div class="container w-75">
    <div class="row justify-content-center" style="padding: 0px;">
        <div class="col-lg-10">
          <h2>Crear una nueva publicación</h2>
          <hr>
          <form method="post" enctype="multipart/form-data">
            <dl>
              {{ form.subject.label }}
              {{ render_field(form.subject, class='form-control', placeholder='Título') }}
              <div class="row">
                <div class="col">
                {{ form.files.label }}
                {{ render_field(form.files, class='form-control', onChange="loadFile(event)") }}
                </div>
              </div>
              <strong>
                <ul id="fileList" style="">
                  <li style="">
                    No seleccionaste ningún archivo.
                  </li>
                </ul>
              </strong>
              {{ render_field(form.desc, class='form-control', placeholder='Descripción', rows="6") }}
              {{ form.category.label }}
              {{ render_field(form.category, class='form-control') }}
              {{ form.tags.label }}
							{{ render_field(form.tags, class='form-control', placeholder='Tags') }}
              {{ render_field(form.password, class='form-control', placeholder='Contraseña (asegurate de guardarla, sin esto no podés borrar la publicación)') }}
              <input placeholder="YouTube Embed (todavía no funciona)" class="form-control" type="text"/><br/>
              {{ form.hidden }} {{ form.hidden.label }}
            </dl>
            <div class="text-center">
              {{ render_field(form.csrf_token) }}
            </div>
            {{ render_field(form.submit, class='btn btn-info btn-lg btn-block') }}
          </form>
        </div>
    </div>
    <script>
      // Pequeño script para mostrar los nombres de los archivos seleccionados
      // Probablemente no sea el mejor lugar para incluir esto
      var input = document.getElementById('files');
      var list = document.getElementById('fileList');
      loadFile = function (event){
        $("#fileList").empty()
        for (x = 0; x < input.files.length; x++){
          var preview = document.getElementById('fileList preview');
          file_extension = input.files[x].name.split('.').pop();

          li = document.createElement('li');
          li.style = "display: inline; margin-right: 20px; "

          if (file_extension === 'jpg' ||
              file_extension === 'jpeg'||
              file_extension === 'png' ||
              file_extension === 'svg' ||
              file_extension === 'gif') {

                img = document.createElement('img');
                img.width = 80
                img.src = URL.createObjectURL(input.files[x]);
                img.onload = function() {
                  URL.revokeObjectURL(output.src) // free memory
                }
                li.append(img)
          }
          if (file_extension === 'webm' || file_extension === 'mp4'){

                vid = document.createElement('video');
                vid.width = 80
                vid.src = URL.createObjectURL(input.files[x]);
                vid.onload = function() {
                  URL.revokeObjectURL(output.src) // free memory
                }
                li.append(vid)
          }

          list.append(li)
        }
      }
    </script>
  </div>
{% endblock %}
