{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

<h1>{% block title %}{{post.subject}}{% endblock %}</h1>

{% block content %}
  <div class="container-fluid">
    <a href="/delete/post/{{post.id}}"><span>BORRAR</span></a> 
    <h3>{{post.subject}}</h3>
    <h5>Vistas: {{post.views}}</h5>
    <h5>Fecha Creación: {{post.created_date.isoformat()}}</h5>
    <div style="overflow: hidden;">
        {% for img in post.files %}
          <!-- Chequear la extensión primero antes de mostrar img -->
          {% if img.extension in ('jpg', 'gif', 'jpeg', 'png') %}
            <a target="_blank" href="{{ url_for ('static', filename='user_data/images/')}}{{img.file}}">
              <img style="height:350; max-width: 500px;" src="{{ url_for ('static', filename='user_data/images/')}}{{img.file}}"/>
            </a>
          {% elif img.extension in ('webm', 'mp4') %}
            <video height=350 src="{{ url_for ('static', filename='user_data/images/')}}{{img.file}}" loop controls/>
              Your browser does not support the video tag.
            </video>
          {% endif %}
        {% endfor %}
      <div class="d-flex justify-content-between ">
        <p>{{bbcode.render_html(post.desc)|safe}}</p>
        <!-- Tengo que detectar la extensión para saber si muestro un video o una imágen -->
      </div>
      <b>Category:</b> {{category}}<br/>
      <b>Tags:</b> 
      {% for tag in post.tags %}
        <span class="tags">{{tag.tag_name}}</span>
      {% endfor %}
      <hr/>
      <div class="container w-50">
          <p class="lead text-center">Comentar</p>
          <form method="post" enctype="multipart/form-data">
            {{ render_field(form.file, class='form-control') }}
            <div class="form-row">
              <div class="col-sm-10 my-1">
                {{ render_field(form.subject, class='form-control', placeholder='Título') }}
              </div>
              <div class="col-sm-2 my-1">
                {{ render_field(form.submit, class='btn form-control btn-sm btn-dark') }}
              </div>
            </div>
            {{ render_field(form.comment, class='form-control', placeholder='Comentario *') }}
            {{ render_field(form.password, class='form-control', placeholder='Contraseña * (sirve para poder borrar el comentario)') }}
            <input name="YouTube" class="form-control" type="text" placeholder="YouTube Embed (no implementado)"/>
            {{ render_field(form.csrf_token) }}
          </form>
      </div>
      <hr/>

      {% for c in comments %}
        <div id="{{c.id}}">
          <strong>Anon</strong> Title: <strong class="text-primary">{{c.subject}}</strong> {{c.created_date.strftime("%d/%m/%y (%A) %H:%M:%S")}} No. <a href="#" onclick="javascript:alert('esto va a servir para citar a alguien')">{{c.id}}</a> | <a href="/delete/comment/{{c.id}}?id={{post.id}}">X</a><br/>
						{% if c.file_ext in ('jpg', 'gif', 'jpeg', 'png') %}
							<a target="_blank" href="{{ url_for ('static', filename='user_data/images/')}}{{c.filename}}">
								<img height=250 style="padding: 5px; border: 2px solid #a8c4e3; border-radius: 5px;" src="{{ url_for ('static', filename='user_data/images/')}}{{c.filename}}"/>
							</a>
						{% elif c.file_ext in ('webm', 'mp4') %}
								<video height=400 src="{{ url_for ('static', filename='user_data/images/')}}{{c.filename}}" controls/>
									Your browser does not support the video tag.
								</video>
						{% endif %}
            <br/>
          {{  bbcode.render_html(c.comment)|safe }}<br/>
        </div>
        <hr/>
          {% else %}
          <p>Todavía no hay comentarios.</p>
      {% endfor %}

    </div>
  </div>
{% endblock %}
