{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

<h1>{% block title %}Ingreso{% endblock %}</h1>

{% block content %}
      <div class="container-fluid">
          <div class="row justify-content-center">
              <div class="col-lg-10">
								{% if msg != None %}
								<div class="p-3 mb-2 bg-success text-white"><p>{{msg}}</p></div>
								{% endif %}
                <h2>Log In</h2>
                <p>Rellene todos los campos para acceder a su cuenta.</p>
								<hr/>
								<form class="form" method="post">
                  <dl>
                    {{ render_field(form.username, class='form-control', placeholder='Username') }}
                    {{ render_field(form.password, class='form-control', placeholder='Password') }}
                    {{ form.remember()  }} {{ form.remember.label() }}
                    {{ render_field(form.csrf_token) }}
                    <!-- No se vé como un btn-primary porque cambie el css del dark mode-->
										{{ render_field(form.recaptcha) }}
                    {{ render_field(form.submit, class="btn btn-outline-primary btn-lg btn-block") }}
									<!-- <button type="submit" class="btn btn-primary btn-lg btn-block">Continuar</input> -->
                  </dl>
									<!-- <button type="submit" class="btn btn-primary btn-lg btn-block">Continuar</input> -->
								</form>
								<p class="text-center"><a href="/reset" class="btn btn-link">Forgot password?</a></p>
								<p class="text-center"><a href="/register" class="btn btn-link">Registrate acá.</a></p>
              </div>
          </div>
      </div>
{% endblock %}
